.card {
  padding: 1rem 1rem;
  border-radius: 4px;
  background: var(--bg-color);
  box-shadow:  3px var(--color-grey);
}

.card p:last-child {
  margin: 0;
}

.card header > * {
  margin-top: 0;
  margin-bottom: 1rem;
}
